
<section class="courses-container container" >
  <div class="courses-div">
    <h2 class="courses-title">Our <span class="courses-span">Courses</span></h2>
    <p class="courses-dscr">
      At our photography school, we offer a variety of courses that cover all
      aspects of this fascinating art. Regardless of your experience or skill
      level, we have courses to suit your needs and goals.
    </p>
    </div>

  <ol class="courses-list"></ul>

  <li class="courses-list-item">
    <div class="courses-item">
      <div class="courses-link-div"><a class="courses-link" href="#">
    <svg width="20" height="20" fill="transparent" stroke="white"><use href="../img/icons.svg#arrow-narrow-up-right"/></svg>
    </a></div>
      
      <h3 class="courses-item-name" >Basics of photography</h3>
      <p class="courses-item-dscr">During this course, you will be able to familiarize yourself with different types of cameras, learn the basics of composition.</p>
    </div>
  </li>

 <li class="courses-list-item">
    <div class="courses-item">
      <div class="courses-link-div"><a class="courses-link" href="#">
    <svg width="20" height="20" fill="transparent" stroke="white"><use href="../img/icons.svg#arrow-narrow-up-right"/></svg>
    </a></div>
      
      <h3 class="courses-item-name" >Basics of photography</h3>
      <p class="courses-item-dscr">During this course, you will be able to familiarize yourself with different types of cameras, learn the basics of composition.</p>
    </div>
  </li>

  <li class="courses-list-item">
    <div class="courses-item">
      <div class="courses-link-div"><a class="courses-link" href="#">
    <svg width="20" height="20" fill="transparent" stroke="white"><use href="../img/icons.svg#arrow-narrow-up-right"/></svg></svg>
    </a></div>
      
      <h3 class="courses-item-name" >Basics of photography</h3>
      <p class="courses-item-dscr">During this course, you will be able to familiarize yourself with different types of cameras, learn the basics of composition.</p>
    </div>
  </li>
  </ol>
</section>
