<!-- header menu -->
<div class="conteiner burger-menu">
        <button type="button" class="mob-men-close-button" data-menu-close>
            <svg class="close-button-icon" width="8" height="8">
                <use href="/src/img//icons.svg#icon-close"></use>
            </svg>
        </button>
    </a>
    <nav class="burger-menu-nav">
        <ul>
            <li class="header-nav-top"><a href="#About us">ABOUT US</a></li>
            <li class="header-nav"><a href="#our courses" class="burger-menu-link">OUR COURSES</a></li>
            <li class="header-nav"><a href="#Our mentors" class="burger-menu-link">OUR MENTORS</a></li>
            <li class="header-nav"><a href="#Reviews" class="burger-menu-link">REVIEWS</a></li>
            <li class="header-nav"><a href="#contacts" class="burger-menu-link">CONTACTS</a></li>
            <img src="/src/img/header/cam-mob.jpg" 
            srcset="/src/img/header/cam-mob@2x.jpg 2x"
            alt="camera">
        </ul>
    </nav>
</div>