<header class="header">
  <nav class="nav">
    <a class="nav-logo" href="./header.html">
      <svg class="nav-svg-logo" width="127" height="20">
        <use href="/src/img/icons.svg#true"></use>
      </svg>
    </a>
    <ul class="nav-list">
      <li><a class="nav-link" href="">About us</a></li>
      <li><a class="nav-link" href="">Our courses</a></li>
      <li><a class="nav-link" href="">Our mentors</a></li>
      <li><a class="nav-link" href="">Reviews</a></li>
      <li><a class="nav-link" href="">contacts</a></li>
    </ul>
    <button class="nav-button-camera">
      <svg class="nav-svg-camera" width="32" height="32">
        <use href="/src/img/icons.svg#camera-icon"></use>
      </svg>
    </button>
    <button class="nav-button-burger-menu">
      <svg class="nav-svg-burger" width="32" height="32">
        <use href="/src/img/icons.svg#nav-burger-icon"></use>
      </svg>
    </button>
  </nav>
</header>
