<div class="backdrop js-menu-container" id="mobile-menu">
  <div class="menu-container">
    <button class="menu-toggle js-close-menu">
      <svg class="close-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-close"></use>
      </svg>
    </button>
    <nav>
      <ul class="mobile-menu text-on-black-image">
        <li class="mobile-list-item">
          <a class="mobile-nav-link" href="#about">ABOUT US</a>
        </li>
        <li class="mobile-list-item">
          <a class="mobile-nav-link" href="#courses">OUR COURSES</a>
        </li>
        <li class="mobile-list-item">
          <a class="mobile-nav-link" href="#mentors">OUR MENTORS</a>
        </li>
        <li class="mobile-list-item">
          <a class="mobile-nav-link" href="#reviews">REVIEWS</a>
        </li>
        <li class="mobile-list-item">
          <a class="mobile-nav-link" href="#footer">CONTACTS</a>
        </li>
      </ul>
    </nav>
    <picture class="menu-picture"> 
  </div>
</div>

