<header class="header">
  <div class="container header-wrapper">
    <nav class="nav">
      <a class="nav-logo" href="./index.html">
        <svg class="nav-svg-logo" width="127" height="20">
          <use href="../img/icons.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="nav-list">
        <li><a class="nav-link" href="">ABOUT US</a></li>
        <li><a class="nav-link" href="">OUR COURSES</a></li>
        <li><a class="nav-link" href="">OUR MENTORS</a></li>
        <li><a class="nav-link" href="">REVIEWS</a></li>
        <li><a class="nav-link" href="">CONTACTS</a></li>
      </ul>
    </nav>
    <button class="header-button-camera">
      <svg class="header-svg-camera" width="16" height="16">
        <use href="/img/icons.svg#icon-camera"></use>
      </svg>
    </button>
    <button class="header-button-burger-menu">
      <svg class="header-svg-burger" width="32" height="32">
        <use href="/img/icons.svg#icon-nav-burger-btn"></use>
      </svg>
    </button>
  </div>
</header>
