<!-- <link rel="stylesheet" href="../css/mentors.css" />-->

<section class="section" id="mentors">
  <div class="container">
    <h2 class="team-title">Our<span class="team-title-text"> Mentors</span></h2>
    <ul class="team-menu">
      <li class="team-item">
        <img
          srcset="../img/mentors/girl1-2x.webp 2x"
          src="../img/mentors/girl1.webp"
          alt="Emilia"
          width="180"
          height="180"
          class="team-img"
        />
        <div class="team-description">
          <h3 class="team-subtitle">Emilia Smith</h3>
          <p class="team-item-text">1.5 years of experience</p>
        </div>
      </li>
      <li class="team-item">
        <img
          srcset="../img/mentors/boy1-2x.webp 2x"
          src="../img/mentors/boy1.webp"
          alt="Alex"
          width="180"
          height="180"
          class="team-img"
        />
        <div class="team-description">
          <h3 class="team-subtitle">Alex Lebedev</h3>
          <p class="team-item-text">3.5 years of experience</p>
        </div>
      </li>
      <li class="team-item">
        <img
          srcset="../img/mentors/girl2-2x.webp 2x"
          src="../img/mentors/girl2.webp"
          alt="Mia"
          width="180"
          height="180"
          class="team-img"
        />
        <div class="team-description">
          <h3 class="team-subtitle">Mia Dubrovska</h3>
          <p class="team-item-text">2.0 years of experience</p>
        </div>
      </li>
      <li class="team-item">
        <img
          srcset="../img/mentors/boy2-2x.webp 2x"
          src="../img/mentors/boy2.webp"
          alt="Eliot"
          width="180"
          height="180"
          class="team-img"
        />
        <div class="team-description">
          <h3 class="team-subtitle">Eliot Kovalev</h3>
          <p class="team-item-text">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
