<section class="section section-reviews" id="reviews">
  <div class="container container-reviews">
    <!-- Зміст секції -->
    <h3 class="reviews-head">Reviews</h3>
    <div class="reviews-boxes">
    <div class="reviews-box">
      <div class="reviews-user-box">
        <img
          class="reviews-user-img"
          src="/img/reviews/reviews-abraham-1x.webp"
          alt="Abraham Baker"
          srcset="
          /img/reviews/reviews-abraham-1x.webp 1x,
          /img/reviews/reviews-abraham-2x.webp 2x
          "
          height="56px"
          width="56px"
        />
        <div class="reviews-user-info">
          <h3 class="revievs-user-name">Abraham Baker</h3>
          <p class="revievs-user-position">Student</p>
          <div class="reviews-icons">
            <ul class="reviews-stars-list">
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon-none-fill" width="16" height="16">
                  <use href="/img/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p class="reviews-comment">
        I am very pleased that I decided to enroll in photography school. The
        teachers turned out to be very talented and experienced professionals
        who share their knowledge and are dedicated to their work. I was able to
        expand my skills and discover my own style.
      </p>
    </div>
    <div class="reviews-box reviews-desktop">
      <div class="reviews-user-box">
        <img
          class="reviews-user-img"
          src="/img/reviews/reviews-amanda-1x.webp"
          alt="Abraham Baker"
          srcset="
          /img/reviews/reviews-amanda-1x.webp 1x,
          /img/reviews/reviews-amanda-2x.webp 2x
          "
          height="56px"
          width="56px"
        />
        <div class="reviews-user-info">
          <h3 class="revievs-user-name">Amanda Lowery</h3>
          <p class="revievs-user-position">Student</p>
          <div class="reviews-icons">
            <ul class="reviews-stars-list">
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon" width="16" height="16">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
              <li class="reviews-list-element">
                <svg class="reviews-icon-none-fill" width="16" height="16">
                  <use href="./img/icons.svg#icon-star"></use>
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <p class="reviews-comment">
        The courses at the photography school exceeded all my expectations. I gained not only technical knowledge, but also inspiration and motivation to reach new heights in my creativity. Hands-on classes and workshops helped me understand different styles of photography.
      </p>
    </div>
  </div>
  </div>
  </div>
</section>
