<section class="section">
  <div class="container">
    <!-- Зміст секції -->
    <div class="">
      <h2 class="title">Sign <span class="title-span">Up</span></h2>
      <p class="text">Please use the form below to contact us. Enter your name, email, and message and we'll get back to
        you
        shortly.</p>
      <form class="form">
        <div class="form-name">
          <input class="input-name" id="user-subscribe" type="name" name="modal-name" placeholder="Enter your name">
        </div>
        <div class="">
          <input class="input-email" id="user-subscribe" type="email" name="modal-email" placeholder="Enter your email">
        </div>
        <textarea class="textarea" name="user-comment" id="user-comment" placeholder="Message" cols="30"
          rows="10"></textarea>
      </form>
      <div class="checkbox">
        <p class="text-policy">
          By clicking on “Send” button, you agree to our
          <a class="policy" href="https://www.privacypolicies.com/" target="_blank">Privacy
            Policy</a>,and allow Promodo to use this information for marketing purposes.
        </p>
      </div>
      <button class="button" type="button">SEND</button>
    </div>
    <div class="bloc">
      <ul class="bloc-list">
        <li class="list">
          <img srcset="../img/sigmup/jpeg/isabella-mendes-lrgkulxjcka-unsplash.jpg 1x,
          ../img/sigmup/jpeg/isabella-mendes-lrgkulxjcka-unsplash-2x.jpg 2x"
            src="../img/sigmup/jpeg/isabella-mendes-lrgkulxjcka-unsplash.jpg" width="350" alt="isabella-mendes">
        </li>
        <li class="list">
          <img srcset="../img/sigmup/jpeg/video-entry-product.jpg 1x, ../img/sigmup/jpeg/video-entry-product-2x.jpg 2x"
            src="../img/sigmup/jpeg/video-entry-product.jpg" width="350" alt="video-entry">
        </li>
      </ul>
    </div>
  </div>
</section>