/* Стилі для мобілки починаємо з width: 320px */


.about-title {
  /* outline: 2px solid red; */
  color: #FFF;

font-size: 28px;
font-weight: 500;
line-height: 1.14;
letter-spacing: -0.04em;
margin-bottom: 40px;

}

.about-us {
  color: #BEA69E;
}


.about-picture {
display: flex;

margin-bottom: 40px;
}

.about-camera {
  height: 209px;
  width: 335px;
  border-radius: 1000px;
  object-fit: cover;

}

.about-article {
  /* outline: 2px solid red; */
  display: block;
  margin-bottom: 20px;
}

.about-text {
  color:  #FFF;
font-size: 14px;
font-weight: 400;
line-height: 1.29;
letter-spacing: -0.02em;
  /* width: 100%; */
}

.about-text:nth-child(1) {
  margin-bottom: 20px;
}



@media screen and (min-width: 375px) {

.about-text {
  max-width: 335px;
}
}

@media screen and (min-width: 768px) {

  .about-title {
  font-size: 48px;
  line-height: 1.13;

  margin-bottom: 50px;
  }

  .about-picture {
    margin-bottom: 50px;
    }
    
    .about-camera {
      height: 340px;
      width: 704px;  
    }

  .about-article {
    display: flex;
    margin-bottom: 0;
    gap: 40px;
  }

  .about-text { 
    font-size: 16px;
    line-height: 1.25;

    max-width: 280px;
  }

  .about-text:nth-child(1) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {

  .about-block {
    display: flex;
    align-items: center;
  }

  

  .about-picture {
    margin-right: 40px;
    margin-bottom: 0;
  }

    .about-camera {
      height: 260px;
      width: 488px;  
    }


  .about-article {
    gap: 20px;
  }

  .about-text:nth-child(1) {
      max-width: 268px;
    }
  
  .about-text:nth-child(2) { 
      max-width: 264px;
    }
}



@media screen and (min-width: 1440px) {

  .about-picture {
    margin-right: 50px;

  }

  .about-camera {
      height: 240px;
      width: 560px;  
    }


  .about-article {
    gap: 40px;
  }

  .about-text:nth-child(1) {
      max-width: 314px;
    }
  
  .about-text:nth-child(2) { 
      max-width: 276px;
    }

}
