/* Стилі для мобілки починаємо з width: 320px */
ol.courses-list {
            list-style-type: none;
            counter-reset: item;
        }
    
ol.courses-list .courses-list-item {
            counter-increment: item;
            position: relative;
        }
    
ol.courses-list .courses-list-item::before {
            content: counter(item, decimal-leading-zero) "";
            position: absolute;
            color: rgba(255, 255, 255, 0.40);
                font-family: DM Sans;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 1.28;
                letter-spacing: -0.28px;
        }
    
.courses-div {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    max-width: 335px;

}


.courses-title {
    display: flex;
    flex-wrap: nowrap;
font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -1.12px;
    color: #FFF;
    white-space: pre;
}

.courses-span {
color: #BEA69E;

}
.courses-dscr {
color: #FFF;
    font-family: DM Sans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.28px;

}
.courses-list {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 0;
            
        }
    

.courses-list-item {
            width: 335px;
                height: 398px;
                flex-shrink: 0;
                border-radius: 12px;
                border: 1px solid rgba(255, 255, 255, 0.20);
                padding: 28px;
                position: relative;
                background: linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
}
    

.courses-link-div{
display: flex;
    flex-direction: row-reverse;

}
.courses-link {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #1D1D1D;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        }
    
.courses-link:hover,
.courses-link:focus {
    background-color: #BEA69E;
}

.courses-link:hover .courses-icon,
.courses-link:focus .courses-icon {
    stroke: #FFF;
}


.courses-item-name {
display: inline-block;
margin-top: 28px;
color: #FFF;
    font-family: DM Sans;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.14;
}

.courses-item-dscr {
display: inline-block;
color: rgba(255, 255, 255, 0.50);
font-family: DM Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 1.28;
letter-spacing: -0.28px;
margin-top: 164px;

}



@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {

.courses-div {
    flex-direction: row;
        max-width: 704px;
        gap: 58px;
        margin-bottom: 50px;
    }

.courses-list {
 flex-wrap: wrap;
        }

.courses-title {
font-size: 48px;
line-height: 1.125;
letter-spacing: -1.92px;
}

.courses-dscr {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.32px;
    }

    .courses-list-item {
width: 342px;
height: 452px;
    }

.courses-item-dscr {
            font-size: 16px;
            line-height: 1.25;
            letter-spacing: -0.32px;
            
        }

    }
@media screen and (min-width: 1280px) {
.courses-div {
            gap: 410px;
            max-width: 1080px;
            gap:410px;
            }
        

.courses-list {
                    flex-wrap: nowrap;
                    
                }

 .courses-list-item {
     width: 347px;

 }

}

@media screen and (min-width: 1440px) {
    .courses-div {
        max-width: 1240px;
        gap: 410px;
        }

 .courses-list-item {
     width: 400px;
 }



}