@font-face {
  font-family: DM sans;
  src: url('../fonts/DMSans-VariableFont_opsz\,wght.ttf');
}

@font-face {
  font-style: italic;
  font-family: DM sans;
  src: url('../fonts/DMSans-Italic-VariableFont_opsz\,wght.ttf');
}
