.close-icon {
  width: 32px;
  height: 32px;
  stroke: #121212;
}

.menu-toggle {
  min-height: 35px;
  min-width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #fff;
}

.menu-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 218px;
  height: 100vh;
  padding-top: 180px;
  padding-bottom: 0;
  padding-left: 20px;
  background-color: #bea69e;
  z-index: 9999;
  background-image: url(../img/mobile-menu/webp/camera-menu_mob_w.webp);
    background-repeat: no-repeat;
    background-position:bottom;
}
@media screen and (min-device-pixel-ratio: 2),
screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
  .menu-container {
    background-image: url(../img/mobile-menu/webp/camera-menu_mob_w@2x.webp);
    background-repeat: no-repeat;
      background-position: bottom;
      background-size: contain;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: rgba(18, 18, 18, 0.4);
  z-index: 9989;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
 
}

/* .menu-picture {
        position: absolute;
        bottom: 0;
        left: 0;
        
  } */


.backdrop.is-open {
  transform: translateX(0);
}

.mobile-menu {
  color: #121212;
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.mobile-list-item {
  margin-bottom: 20px;
}

.mobile-nav-link:hover,
.mobile-nav-link:focus {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .close-icon {
    width: 40px;
    height: 40px;
  }
  .menu-toggle {
    min-height: 43px;
    min-width: 43px;
  }

  .menu-container .menu-toggle {
    top: 20px;
    right: 32px;
  }

  .menu-container {
    width: 480px;
    height: 1024px;
    padding-top: 232px;
    padding-bottom: 0;
    padding-left: 64px;
    background-color: #bea69e;
    z-index: 9999;
    background-image: url(../img/mobile-menu/webp/camera-menu_tab_w.webp);
      background-repeat: no-repeat;
      background-position: bottom;}

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
          .menu-container {
            background-image: url(../img/mobile-menu/png/camera-menu_tab@2x.png);
            background-repeat: no-repeat;
            background-position: bottom;
            background-size: contain;
          }
  }

  /* .menu-picture {
    width: 480px;
  } */
}
