/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./common.css');

@import url('./header.css');
@import url('./hero.css');
@import url('./advertisement.css');
@import url('./about.css');
@import url('./courses.css');
@import url('./mentors.css');
@import url('./signup.css');
@import url('./reviews.css');
@import url('./footer.css');

:root {
  /* font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
